<form method="post" action="./">
    <tr>
        <td colspan="2" ><input type="text" class="form-control" name="pname" placeholder="name" required/></td>
        <td><input type="text" placeholder="price" name="price" class="form-control" required/></td>
        <td><input type="submit" name="submit" class="btn btn-light"></td>
    </tr>
</form>
